input:not[type=submit]
    border-style: none none solid none
    border-color: $colors.primary
    border-width: 3px
    margin: 5px
    font-size: 1.3rem

label
    text-align: right
    line-height: 2.5
    margin-right: 10px

