$colors = {
  primary: rgb(0, 255, 140)
}

$navbar = {
  height: 40px
}

$breakpoints = {
  tablet: "screen and (min-width: 1024px)",
  computer:"screen and (min-width: 1600px)"
}

$columns= {
    amount: 12
}